@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#produtos-container{
    background:  none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 15px;
    margin-bottom: 30px;
}

#produtos-container #titulo{
    width: 300px;
    height: 60px;
    background: #13BBAF;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    font: 700 25px Poppins;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    margin-bottom: 10px;
}

#produtos-container #produto h3{
    color: #13BBAF    ;
    font: 700 25px Poppins;

}

#produtos-container #produto img{
    margin-bottom: 15px;
    width: 150px;
    height: 170px;

}

#produtos-container #produto {
    flex-direction: column ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    width: 17%;
    height: 90%;
    border-radius: 25px;
    margin: 25px;
}

#produtos-list-container{
    width: 90%;
    height: 80% ;
    align-items: center;
    flex-direction: row ;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#produtos-container #pass-right img{
    margin-left: 50px;
    height: 100px;
}

#produtos-container #pass-left img{
    margin-right: 50px;
    height: 100px;
}