@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#welcome-container{
    background:  none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 25vh;
    margin-top: 15px;   
}

#welcome-container #titulo{
    width: 100%;
    background: none;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #3C4142 ;
    font: 700 55px Poppins;
}


#welcome-container #imagem img{
    margin-bottom: 15px;
    width: 58px;
    height: 63px;    
}

 
#welcome-list-container{
    width: 45%;
    height: 80% ;
    align-items: center;
    flex-direction: row ;
    display: flex;
    justify-content: space-between;
    margin: 2px;
}