@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

#header{
    display: flex;
    width: 100vw;
    height: 8vh;
    left: 0px;
    background: #13BBAF;
}

#links ul{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#links li{
    font: 400 20px Robot,sans-serif;
    font-weight: bold;  
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    margin-right: 45px;
}

.link{
    color: #ffffff;
    text-decoration: none;
}

.link:hover{
    color: #ffffff;
    text-decoration: none;
    opacity: 0.89;
}

.logo{
    height: 100%;
    margin-right: 10px;
}

#logo-container {
    display: flex;
    width: 20vw;
    height: 100%;
    align-items: center;
    padding: 0px;
    margin: 0;
    justify-content: center;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
}

#logo-container h2{
    color: #3C4142;
}

#links {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    
}