* {
  margin: 0px;
  padding: 0px;
  font: 400 30px Robot,sans-serif;
}

#footer {
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 352px;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	top: 1873px;
	background: #60696b;
}

/*Redes Sociais*/
#group-1 {
	flex-direction: column;
	display: flex;
	align-items: center;
	width: 291px;
	left: 101px;
	top: 71.7px;
	bottom: 1007px;
}

#group-1 h2 {
	position: absolute;	
	font-style: normal;
	font-weight: bold;
	line-height: 90px;
	text-align: left;
	color: #fbc531;
}

#group-1 h2 {
	width: 221px;
	border-bottom: 10px solid;
}

#group-1 #instagram {
	flex-direction: row;
	justify-content: space-between;
}

#group-1 #twitter {
	flex-direction: row;
	flex-direction: column-reverse;
}

.contact {
	flex-direction: column;
	padding-top: 110px;
}

.contact img {
	height: 48.83%;
	left: 9.44%;
	right: 87.78%;
	bottom: 133.7px;
}

.contact a {
	font-style: normal;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
	text-decoration: none;
	color: #fffdfd;
}

/*Contato*/
#group-2 {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 463px;
	height: 176px;
	left: 504px;
	top: 2477.96px;
}

#group-2 h1 {
	font-style: normal;
	font-weight: bold;
	line-height: 53px;
	text-align: left;
	color: #ffffff;	
}

#group-2 .schedule {
	color: #ffffff;
}

#group-2 #attendance-title {
	border-bottom: 10px solid;
}

/*Duvidas*/
#group-3 {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 291px;
	right: 101px;
	top: 71.7px;
	bottom: 1007px;
}

#group-3 h1 {
	color: #ffffff;	
	font-style: normal;
	font-weight: bold;
}