#footer {
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	/*margin: 15px;*/
	width: 100%;
	height: 352px;
	left: 0px;
	bottom: 0px;
	top: 1873px;
	background: #60696b;
}

#footer > div {
  margin: 15px;
  padding: 10px;
}

#group-1 {
	/*position: absolute;*/
	flex-direction: column;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	width: 291px;
	height: 220.92px;
	left: 101px;
	top: 71.7px;
	bottom: 1007px;
}

#group-1 h2 {
	position: absolute;	
	/*font-family: Roboto;*/
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	text-align: left;
	color: #fbc531;
}

#group-1 h2 {
	width: 221px;
	border-bottom: 10px solid #fbc531;
	min-width: 70px;
	min-height: 70px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#group-1 #instagram {
	/*
	flex-direction: row;
	background: pink;
	*/
	justify-content: space-between;
}
/*
#group-1 #twitter {
	flex-direction: column-reverse;
}
*/

.contact {
	/*display: flex;*/
	flex-direction: column;
	padding-top: 110px;
}

.contact img {
	/*flex-direction: column-reverse;*/
	height: 48.83%;
	left: 9.44%;
	right: 87.78%;
	bottom: 133.7px;
}

.contact a {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-align: left;
	text-decoration: none;
	color: #fffdfd;
}

/*Contato*/
#group-2 {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 463px;
	height: 176px;
	left: 504px;
	top: 2477.96px;
}

#group-2 h1 {
	/*position: absolute;*/	
	/*font-family: Roboto;*/
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	text-align: left;
	color: #ffffff;	
}

#group-2 .schedule {
	color: #ffffff;
}

#group-2 #attendance-title {
	border-bottom: 10px solid #ffffff;
}

/*Duvidas*/
#group-3 {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#group-3 h1 {
	color: #ffffff;	
}